/*Global selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Styling below applies to body*/
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Styling below applies to header*/
header{
    top: 0px;
    width: 100%;
    background: rgba(128, 0, 0, 0.6);
}
header img{
    width: 15vw;
    margin-left: 1%;
    margin-top: 0.2%;
    padding: 0.2%;
}

/*Styling below applies to main section of body*/
#main{
    display: flex;
}
#sectionOne{
    width: 100%;
    padding: 2% ;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}
#sectionOne h1{
    font-size:3vw ;
    font-weight: 400;
    margin-bottom: 5%;
    text-align: left;
}
#sectionOne p{
    color: #808080;
    font-size: 1.5vw;
    text-align: left;
}
/*Styling below applies to Quiz Container*/
#quiz{
    border: 0.35vw solid rgba(128, 0, 0, 0.6) ;
    width: 60%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 10%;
}
#quiz h2{
    font-size: 2vw;
    text-align: center;
    padding: 2%;
}
#quiz form{
    font-size: 1vw;
    padding-left: 10%;
}
.question{
    padding-bottom: 3%;
}
.answer{
    padding-top: 1.8%;
}
label{
    padding-left: 5%;
}
label span{
    font-size: 0.9vw;
    padding-left: 1.8%;
}
input[type="submit"]{
    padding: 2% 5%;
    border: none;
    border-radius: 5%;
    background-color: grey;
    margin: 5%;
    margin-left: 35%;
    text-align: center;
}
/*Styling below applies to quizResult*/
.quizResult{
    margin-top: 15%;
    margin-bottom: 60%;
    width: 25vw;
    font-size: 1.1vw;
    text-align: center;
    padding: 3%;
    border: rgba(128, 0, 0, 0.6) 0.35vw solid;
}
button{
    font-size: 1vw;
    padding: 3% 5%;
    border: none;
    border-radius: 5%;
    background-color: grey;
    margin: 10%;
    margin-top: 10%;
    text-align: center;
}

/*Styling below applies to Footer*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    background-color: #808080;
    bottom: 0px;
}
